<div class="comments_3">
    <div class="comments_avatar"><img src="./../icons/gauravimage.jpg" alt=""></div>
    <div class="left_portion">
        <div class="details">
            <span class="naam">
                sneha gautam
            </span>
            <span class="samay">
                21 hours ago
            </span>
        </div>
        <p class="messge">
            My internet recharge exhausted and I don't have enough money in my account, what a double
            whammy</p>
        <div class="ratings">
            <span><img src="./../icons/icons8-facebook-like-50.png" alt="">97</span>
            <span><img src="./../icons/icons8-unlike-50.png" alt="">10</span>
            <button>Reply</button>
        </div>

    </div>

</div>
