<div class="comments">

    <div class="comments_avatar"><img src="./../icons/gauravimage.jpg" alt=""></div>
    <div class="left_portion">
        <div class="details">
            <span class="naam">
                sneha gautam
            </span>
            <span class="samay">
                21 hours ago
            </span>
        </div>
        <p class="messge">
            My internet recharge exhausted and I don't have enough money in my account, what a double
            whammy</p>
        <div class="ratings">
            <span><img src="./../icons/icons8-facebook-like-50.png" alt="">97</span>
            <span><img src="./../icons/icons8-unlike-50.png" alt="">10</span>
            <button class="displaythiscontent">Reply</button>
        </div>

        <div class="hideme makeinvisible">
            <div class="msg">
                <div class="comment_image"><img src="./../icons/gauravimage.jpg" alt=""></div>
                <div class="input-field col s6 compress">
                    <input id="last_name" type="text" class="validate fixit">
                    <label for="last_name">Add a public Comments</label>
                </div>
            </div>
            <div class="sendingstatus">
                <div class="buttons">
                    <button class="btn waves-effect waves-light" type="submit" name="action">CANCEL
                        <i class="material-icons right"></i>
                    </button>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Comment
                        <i class="material-icons right"></i>
                    </button>
                </div>
            </div>

        </div>


    </div>

</div>
